FLOWLET_DB_SCHEMA=flowlet

FLOWLET_DB_CONTAINER_NAME=your-dev-db-container-name
FLOWLET_DB_NAME=your_dev_db_name
FLOWLET_DB_USER=your_dev_db_user
FLOWLET_DB_PASSWORD=your_dev_db_password
FLOWLET_DB_PORT=5432
