FLOWLET_DB_SCHEMA=flowlet

FLOWLET_DB_CONTAINER_NAME=your-prod-db-container-name
FLOWLET_DB_NAME=your_prod_db_name
FLOWLET_DB_USER=your_prod_db_user
FLOWLET_DB_PASSWORD=your_prod_db_password
FLOWLET_DB_PORT=5433
FLOWLET_GITHUB_TOKEN=your_github_token
FLOWLET_GITHUB_REPOSITORY=jacksonis16019207-glitch/flowlet
